Package: com.i80k.qqfarm
Name: QQFarm
Depends: mobilesubstrate, firmware (>= 14.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: QQ 经典农场 code 自动提取插件
Maintainer: 佚名
Author: 佚名
Section: Tweaks
